html,
body {
    height: 100%;
}

/* Modificar el modelo de cajas */

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

/* Resetear margenes y padding */
* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

span {
    font-size: 20px;
    width: calc(50% - 10px);
    margin-bottom: 21px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-size: 1.09rem;
}

/* Centrar elementos en pantalla */
.container {
    width: 90%;
    max-width: 1830px;
    margin: 0 auto;
}

.divider {
    border-bottom: 3px solid rgb(255, 255, 255);
    width: 115px;
    margin: 1px auto;
}

.button {
    background-color: #27017A;
    border-radius: 15px;
    padding: 5px 23px 5px 23px;
    width: 9%;
    border: none;
    color: #fff;
    margin-top: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.button:hover {
    background-color: #3b07ac;
}

/*Esto es para navegación*/

#navigation {
    display: flex;
}

.header-img {
    width: 10%;
}

#main-nav {
    display: flex;
    list-style: none;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#main-nav li {
    padding: 12px 0.85em;
}

#main-nav li a {
    color: #fff;
    text-decoration: none;
}

#main-nav li a:hover {
    background-color: #27017A;
    border-radius: 15px;
    padding: 5px 23px 5px 23px;
}

#main-nav+a {
    color: #0f0f0f;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #ff0000;
    font-size: 0.95rem;
    padding: 12px 3em;
    transition: all 0.5s;

}

#main-nav+a:hover {
    background-color: #27017A;
    color: #fff;
    transition: all 0.5s;
}

nav {
    padding: 0px 0;
    width: 100%;
    background-color: #161414;

}

#section1 h1 {
    font-size: 5.85rem;
    font-family: 'Roboto', sans-serif;
    ;
    font-weight: bold;
    color: #ffffff;

}

#section1 h2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
    width: 50%;
}


article>section:nth-child(1) {
    background-image: linear-gradient(rgba(4, 0, 15, 0.9), rgba(32, 27, 26, 0.7)), url(../img/milky-way-2695569_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    filter: brightness(110%);
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 600px;
}

/*Section 2*/

article>section:nth-child(2) {
    background: linear-gradient(to bottom, #010111, #0A001B);
    border-top: 1px solid #fff;
    min-height: 230px;
}

h2 img {
    width: 30px;
}

#section2 {
    display: flex;
    border-top: #fff;
    color: #fff;

}

.center {
    text-align: center;
    margin-top: 45px;
    padding: 0px 30px 0px 30px;

}

.subtitled {
    margin-bottom: 20px;
    font-size: 40px;
}

#section2 p {
    font-size: 20px;
}

.board {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    height: 300px;
    padding: 0px 50px 0px 50px;
}

/*Section 3*/

article>section:nth-child(3) {
    background-image: linear-gradient(rgba(0, 2, 13, 0.9), rgba(0, 0, 0, 0.3)), url(../img/technology-5648184_1280.jpg);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

#section3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    max-height: 600px;
    height: 395px;
    color: #fff;
}

#skills {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.skill_box {
    background-color: #27017A;
    padding: 20px 40px 35px 30px;
    ;
    border-radius: 40px;
    box-shadow: 5px 5px 0px rgba(42, 24, 80, 0.3);
}

.container_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.imagen-circular {
    width: 78px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

/*Section 4*/

article>section:nth-child(4) {
    background: linear-gradient(to bottom, #010111, #0A001B);
    min-height: 300px;
    height: 500px;
}


#section4 {
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
}

#section4 img {
    flex-basis: 35%;
    max-width: 35%;
    align-self: flex-start;
    height: 340px;
}

#section4 div {
    flex-basis: 65%;
    padding-left: 1.85em;
    color: #fff;
    font-size: 30px;
}



/*Section 5*/

article>section:nth-child(5) {
    background-color: #000;
    ;
}

#addressBox {
    text-align: center;
}

#addressBox p {
    margin-bottom: 12px;
}

#contactForm {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 60px 0 12px;
}

.col-input {
    display: flex;
    align-items: center;
    width: 33%;
    padding: 0 0.5em;
}

.col-input label {
    margin-right: 10px;
}

.col-input input {
    flex: 1;
    height: 33px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 25px;
}

#mensaje {
    width: 100%;
    border: 1px solid #ccc;
    margin: 15px 0;
    border-radius: 30px;

}

label {
    font-size: 30px;
    margin: 12px 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#col-text {
    display: flex;
    align-items: center;
    padding: 0 0.5em;
}

#col-text label {
    margin-right: 10px;
}

#col-text textarea {
    flex: 1;
    height: 100px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 60px;
}

#col-text textarea:focus {
    border: 1px solid #3f3d3d;
    transition: all 1s;
}

input[type="submit"] {
    background-color: #3b07ac;
    color: #fff;
    display: inline-block;
    width: 127px;
    height: 38px;
    font-size: 2rem;
    margin: 12px 2.5em 25px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

/*footer*/

footer {
    background-color: #000000;
    padding: 30px 0 0;
}

#pieDePagina {
    display: flex;
    justify-content: center;
}

#pieDePagina a {
    color: #fff;
    font-size: 2rem;
    margin-left: 12px;
}

#copyright {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    padding: 12px 0;
    border-top: 1px solid #423d3d;
    margin: 12px 0 0;
}


@media screen and (min-width:1200px) and (max-width:1599px){
  
      .skill_box {
        padding: 20px 20px 35px 20px;
      }
  
}

@media screen and (min-width:980px) and (max-width:1199px) {
    body {
        font-size: 1.04rem;
    }
}


@media screen and (min-width:980px) and (max-width:1199px) {

    #section1 h1 {
        font-size: 3.85rem;
    }

    #section1 h2 {
        font-size: 24px;
      }
      .button {
        width: 14%;
      }
      .subtitled {
        margin-bottom: 20px;
        font-size: 21px;
      }
      #section2 p {
        font-size: 14px;
      }
      .imagen-circular {
        width: 50px;
        height: 40px;
      }

      .skill_box {
        padding: 20px 0px 35px 0px;
      }
      span {
        font-size: 13px;
        font-weight: bolder;

      }
      .col-input input {
        max-width: 230px;
      }
      #section4 div {
        font-size: 22px;
    }

    #section4 h2{
        font-size: 35px;
    }
    label {
        font-size: 18px;
    }
}